@import "base";

header.page {
  .header-home {
    color: $color1; height: 500px; background-image: url("/assets/images/header-home.jpg"); background-size: cover;
    padding-top: 20px; margin-bottom: 20px; position: relative;
    a {
      color: $dark-gray; border-bottom-color: lighten($dark-gray, 20%);
      &:hover { color: lighten($dark-gray, 10%); border-bottom: 1px dotted lighten($dark-gray, 10%); }
      &.no-underline {
        border-bottom: 0;
        &:hover { border-bottom: 0; }
      }
    }
    h1, h2 { color: $color2; @include text-shadow(2px 2px 2px #ccc); }
    h1 { font-size: 44px; margin-top: 110px; }
    h2 { font-size: 36px; }
    .btn-railslab {
      color: white; border-bottom-color: darken($color1, 10%); margin-top: 20px;
      &:hover { color: white; border-bottom-color: darken($color1, 10%); }
    }
    .jump-down {
      color: white; width: 48px; height: 48px; position: absolute; left: calc(50% - 24px); bottom: 20px;
      .fa { font-size: 48px; opacity: 0.4; }
      &:hover .fa { opacity: 0.8; }
    }
  }
}
@media #{$xs} {
  header.page .header-home h1 { margin-top: 55px; }
}
